ion-card {
  margin: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
  ion-img {
    max-height: 200px;
    object-fit: cover;
  }
}

ion-card-content {
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}

.ion-padding {
  padding: 16px;
}

ion-card-header {
  position: relative;
  
  ion-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.profile-header {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-right: 60px; // Aumentamos el padding para el botón de texto

  ion-avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;
  }

  .header-content {
    flex: 1;
  }

  ion-buttons {
    position: absolute;
    right: 0;
    top: 0;
  }
}

ion-button {
  --color: var(--ion-color-warning);
  font-weight: 500;
}